@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="Content/landingpage.css">

<body>
    <div class="container">
        <div class="title">
            <h6>Find a Gallery</h6>
            <h1>FOR YOUR ARTWORKS</h1>
            <h6>in Melbourne CBD</h6>
        </div>
        <div class="top parallax">
            <div class="bg">
                <h2><a href="publicarts" style="text-decoration:none">Click To Explore</a></h2>
            </div>
        </div>
        <div class="between">
            <div class="words">
                <h4>Scroll down to know more about us</h4>
            </div>
        </div>
        <div class="middle parallax">
            <div class="bg">
                <h2>Vision</h2>
                <p>Our purpose is to be a platform for you to evaluate the gallery venues of your own choice.</p>
            </div>
        </div>
        <div class="between">
            <div class="words">
                <h4>It is about the location...</h4>
            </div>
        </div>
        <div class="bottom parallax">
            <div class="bg">
                <h2>Be wise and artsy</h2>
                <p>Starting fresh as a new independent artist?</p>
                <p>In Melbourne CBD, finding the right location for your exhibitions means better exposure and being able to explore more of your potentials.</p>
            </div>
        </div>
        <div class="between">
            <div class="words">
                <h3>Disclaimer</h3>
                <h5>The information contained in this website is for general information purposes only. The information is sourced from public data and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</h5>

            </div>
        </div>
    </div>
</body>
<script>
    var password='';
    password=prompt('Please Enter Password:','');
    if (password != 'Monash')
    {alert('Invalid Password');
        window.opener=null; window.close();}
</script>