@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="Content/landingpage.css">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("GALLEVISIONERY", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li>
                @Html.ActionLink("Explore", "Index", "publicarts")
            </li>
            <li>
                @Html.ActionLink("Compare-Galleries", "compare", "publicarts")
            </li>
            </ul>

        </div>
    </div>
</div>
<body>
    <div class="container">
        <div class="title">
            <h6>Find a Gallery</h6>
            <h1>FOR YOUR ARTWORKS</h1>
            <h6>in Melbourne CBD</h6>
        </div>
        <div class="top parallax">
            <div class="bg">
                <h2><a href="publicarts" style="text-decoration:none">Click To Explore</a></h2>
            </div>
        </div>
        <div class="between">
            <div class="words">
                <h4>Scroll down to know more about us</h4>
            </div>
        </div>
        <div class="middle parallax">
            <div class="bg">
                <h2>Vision</h2>
                <p>Our purpose is to be a platform for you to evaluate the gallery venues of your own choice.</p>
            </div>
        </div>
        <div class="between">
            <div class="words">
                <h4>It is about the location...</h4>
            </div>
        </div>
        <div class="bottom parallax">
            <div class="bg">
                <h2>Be wise and artsy</h2>
                <p>Starting fresh as a new independent artist?</p>
                <p>In Melbourne CBD, finding the right location for your exhibitions means better exposure and being able to explore more of your potentials.</p>
            </div>
        </div>
        <div class="between">
            <div  class="words">
                <h3>About Us</h3>
                <h5>GALLEVISIONARY (powered by HABEL & DIGITAL®️) is a platform for new independent artists to evaluate the potential venues to hosts exhibitions for a better exposure and convenience. <br>
                    <br>
                    Contact us via habel_digital@gmail.com</h5>


            </div>   
        </div>
    </div>
</body>

<script>
    function password()
    {
        var i=1;
        var passwd=prompt('Please enter password: ','');
        while(i<3)
        {
            if(passwd=="Monash")
            {
                alert('Welcome!');
                /* INSERT THE LANDING PAGE'S PATH & NAME IN YOUR END */
                
                break;
            }
            i++;
            var passwd=prompt('Invalid Password! Try again! \n You can enter '+(100-i)+' more time');
        }
        if(password!="Monash"&&i==3)
        {
            alert('Login Failed');
            history.go(-1)
        }
        return "";
    }
    password();
</script>